body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}


/* Header styles */
header {
    background-color: #0e0c0c;
    color: #fcf5f5;
    padding: 20px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 {
    font-size: 28px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-right: 20px;
}
.nav-links a {
    color: #fcf5f5;
    text-decoration: none;
}
/* Hero section styles */
.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fcf5fc;
    text-align: center;
    padding: 100px 0;
}
.hero-content {
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    margin-bottom: 30px;
}
/* .cta-button {
    display: inline-block;
    background-color: rgb(19, 18, 18);
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.cta-button:hover {
    background-color: #d00; 
}*/
.about {
    background-color:#fcf5f5;
    padding: 100px 0;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Features section styles */
.features {
    background-color: #fcf5f5;
    padding: 100px 0;
    text-align: center;
}
.features h2 {
    font-size: 24px;
    margin-bottom: 40px;
}
.feature {
    margin-bottom: 30px;
}
.feature img {
    width: 300px;
    height: 300px;
}
.feature h3 {
    font-size: 20px;
    margin-top: 20px;
}
/* Download section styles */
.download {
    background-color: #0f0f0f;
    color: #fcf5fc;
    text-align: center;
    padding: 100px 0;
}
.download h2 {
    font-size: 24px;
    margin-bottom: 40px;
}
.download p {
    font-size: 18px;
    margin-bottom: 30px;
}
.cta-buttons {
    display: flex;
    justify-content: center;
}
.cta-button {
    display: inline-block;
    background-color: rgb(19, 17, 17);
    color: #fcf5fc;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 20px;
}
/* Contact section styles */
.contact {
    background-color: #fcf5f5;
    padding: 100px 0;
    text-align: center;
}
.contact h2 {
    font-size: 24px;
    margin-bottom: 40px;
}
.contact p {
    font-size: 18px;
    margin-bottom: 30px;
}
/* Exercise tips and workout*/
.exercise-card {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #fcf5f5;
    border-radius: 5px;
}
.exercise-card img {
    width: 100px;
    height: 100px;
}
.exercise-card h3 {
    font-size: 20px;
    margin-top: 20px;
}
/* Tips section styles */
.tips {
    background-color: #fcf5f5;
    padding: 100px 0;
    text-align: center;
}
.tips h2 {
    font-size: 24px;
    margin-bottom: 40px;
}
.tips-card {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #fcf5f5;
    border-radius: 5px;
}
.tips-card h3 {
    font-size: 20px;
    margin-top: 20px;
}
/* Diet Plan section styles */
.diet-plan {
    background-color: #fcf5f5;
    padding: 100px 0;
    text-align: center;
}
.diet-plan h2 {
    font-size: 24px;
    margin-bottom: 40px;
}
.diet-plan-card {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #fcf5f5;
    border-radius: 5px;
}
.diet-plan-card img {
    width: 100px;
    height: 100px;
}
.diet-plan-card h3 {
    font-size: 20px;
    margin-top: 20px;
}
.ex{
    margin-bottom: 10px;
}